* {
  margin: 0;
  font-size: 100%;
  box-sizing: border-box;
}

#main-doc {
  font-family: monospace, sans-serif;
  background-color: hsl(31, 100%, 93%);
}

nav {
  border: 2px solid tomato;
  background-color: hsl(91, 50%, 80%);
}

ul {
  list-style:none;
  display: flex;
  flex-wrap: wrap
}

.main-section {
  padding: 0.5rem;
  border-bottom: 2px solid tomato;
}

header {
  text-align: left;
  font-size: 1.3em;
  border: 1px solid;
  margin-bottom: 0.5rem
}

code {
  display: block;
  padding: 0.5em;
  background-color: hsl(10, 22%, 90%)
}

p {
  padding: 0.5em
}

a {
  border-left: 1px solid;
  border-right: 1px solid;
  padding: 0px 10px;
  text-decoration: none;
  background-color: hsl(91, 50%, 80%)
}

a:hover {
  background-color: hsl(91, 20%, 70%)
}

nav > header {
  text-align: center
}

@media screen and (min-width: 600px) {

  nav {
    width: 20%;
    height: 100vh;
    position: fixed;
  }

  #main-doc {
    width: 80%;
    position: absolute;
    right: 0px;
    margin-top: 0;
  }

  ul {
    flex-direction: column
  }
}
